html {
  font-size: 17px;
}

@media (min-width: 768px) {
  html {
    font-size: 17px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 70px;
}

.table td {
    font-size: 17px;
    color: black;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}