@using ASystems.DeskReservation.Web.Data.Entities
@model ASystems.DeskReservation.Web.Data.Entities.Reservation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var deskNames = ViewBag.Desks;
    SelectList deskList = new SelectList(deskNames, "Id", "Name");

    var userNames = ViewBag.Users;
    SelectList userList = new SelectList(userNames, "Id", "FirstName");

    var status = Enum.GetValues(typeof(ReservationStatus));
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="userList">
                    <option value="UserId">Select a user name</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskId" class="control-label"></label>
                <select asp-for="DeskId" class="form-control" asp-items="deskList">
                    <option value="DeskId">Select a desk</option>
                </select>
                <span asp-validation-for="DeskId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservedTime" class="control-label"></label>
                <input asp-for="ReservedTime" class="form-control" />
                <span asp-validation-for="ReservedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="Status">Reservation status</option>
                    @foreach (var state in status)
                    {
                        <option value="@state">@state</option>
                    }
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
