
<style>
    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
        padding-left: 20px;
        position: relative;
    }
</style>


    <div class="text-center">
        <h1>ASystems Desk Reservation</h1>
        <h3>General Rules:</h3>
    <section>
        <ul class="list-group list-group-numbered">
            <li class="list-group-item list-group-item-success">Reservations must be submitted 24 hours before.</li>
            <li class="list-group-item list-group-item-info">The Admin is responsible for the approval of your reservation.</li>
            <li class="list-group-item list-group-item-success">Each reservation is limited to a maximum of 5 days.</li>
            <li class="list-group-item list-group-item-info">Duplicate reservations are not allowed.</li>
            <li class="list-group-item list-group-item-success">Overlapping reservations are not allowed.</li>
            <li class="list-group-item list-group-item-info">Reservation cannot be changed after it has been submitted.</li>
            <li class="list-group-item list-group-item-success">Please contact the Admin for a reservation modification.</li>
            <li class="list-group-item list-group-item-info">Late arrivals may result in the forfeiture of the reservation.</li>
            <li class="list-group-item list-group-item-success">Every employee must perform a Check In through the Admin desk upon arrival.</li>
        </ul>
    </section>
    </div>
    
