@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Hello Team!</h1>
    <p>A Simple WEB APP that simplifies you to book your working environment at office!</p>
</div>