@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">ASystems Desk Reservation App</h1>
    <p>Hello team! This is a simple WEB APP that simplifies the process of booking your working environment at office!</p>
</div>