
<head>
    <meta charset="UTF-8">
    <title>ASystems Desk Reservations - Privacy Policy</title>
    <link rel="stylesheet" href="~/css/privacy.css">
</head>

<body>
    <div class="container">
        <h3>ASystems Desk Reservations - Privacy Policy</h3>
        <hr />
        <div class="form-group">
            <h2>Information We Collect</h2>
            <p>We collect personal information such as your name and email address when you register for our services. We may also collect usage data to improve the app's functionality.</p>

            <h2>How We Use Your Information</h2>
            <p>We use your information to provide and improve the desk booking services. This includes communicating with you, customizing your experience, and addressing issues with the app.</p>

            <h2>Data Security</h2>
            <p>We prioritize the security of your personal information and have implemented measures to prevent unauthorized access or disclosure.</p>

            <h2>Third-Party Access</h2>
            <p>We do not share your personal information with third parties unless required by law or necessary to provide the service you've requested.</p>

            <h2>Changes to This Privacy Policy</h2>
            <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

            <p>For more information, contact us at: <a href="mailto:contact@asystems.al">contact@asystems.al</a></p>
            <hr />
        </div>
    </div>
</body>


